.candidate-details-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  grid-gap: 1rem;
  > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    > div:first-child {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      > div {
        display: flex;
        align-items: center;
        gap: 1rem;
        > div {
          > img {
            width: 4rem;
            border-radius: 0.7rem;
          }
          > h4 {
            font-size: 1.1rem;
            color: rgb(57, 55, 55);
          }
          > h6 {
            font-size: 0.8rem;
            color: gray;
          }
        }
        > h4 {
          font-size: 1rem;
          color: rgb(10, 194, 10);
        }
      }
    }
    > div {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      > h4 {
        font-size: 0.8rem;
      }
      > p {
        font-size: 0.8rem;
        color: gray;
      }
    }
    > div:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      > button {
        width: 60%;
        height: 2rem;
        background-color: rgb(52, 188, 188);
        border: none;
        color: white;
        font-weight: 700;
        letter-spacing: 1px;
        border-radius: 0.5rem;
      }
    }
  }
}
.video-container {
  height: 520px;
  background-color: rgb(16, 16, 16);
  > div:first-child {
    position: relative;
    > iframe {
      border: none;
    }
  }
  > div:last-child {
    position: absolute;
    color: white;
    padding: 0 0.3rem;
    > div:first-child {
      width: 20rem;
      > h6 {
        width: 100%;
        text-align: center;
      }
    }
    > div:last-child {
      margin-top: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      > p {
        font-size: 0.8rem;
      }
      > button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        width: 2rem;
        border-radius: 0.3rem;
        border: none;
        background-color: rgb(0, 113, 194);
        > img {
          width: 1rem;
        }
      }
      > button:last-child {
        > img {
          transform: rotate(180deg);
        }
      }
    }
  }
}
.lkfddlkf {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  > p {
    font-size: 0.8rem;
  }
}
